@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Hebrew&display=swap');

html {
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #202020;
    background-image: url("/assets/images/background.jpg");
    overflow-x: hidden;
}

header {
    width: max-content;
    text-align: center;
    padding: 20px 1em;
    margin-left: 20px;
    border-radius: 0 0 1em 1em;
    background-color: #202020;
    color: white;
    font-family: "Noto Serif Hebrew", serif;
    position: sticky;
    top: 0;
    box-shadow: 0 10px 1em #202020;
    transition: all 150ms;
}

main {
    flex: 1;
    height: max-content;
    max-height: 50%;
    width: 100%;
    padding: 20px 0;
}

.img-container {
    margin: 40px auto;
    padding: 20px 20px;
    width: 75%;
    color: white;
    font-family: "Noto Serif Hebrew", serif;
    gap: 5px;
    align-content: center;
    justify-items: center;
    justify-content: center;
    background-color: #434343;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    border-radius: 10px;
    box-shadow: #202020 3px 3px 1px;
}

img {
    width: calc(50% - 5px);
    aspect-ratio: 1/1;
    background-color: rgba(246, 146, 146, 0.353);
    cursor: pointer;
    max-height: 100vh;
    max-width: 75vw;
}

footer {
    flex-shrink: 0;
    position: static;
    bottom: 0;
    padding: 20px 10px;
    background-color: #202020;
    color: white;
    font-family: "Noto Serif Hebrew", serif;
    width: 100%;
}

.unmarked-link {
    color: white;
    transition-duration: 250ms;
}

.unmarked-link:hover {
    color: #b2b2b2;
}

.sticky {
    position: sticky;
}

.top {
    top: 0;
}

.hidden {
    display: none;
}

.small-title {
    font-size: 1.5em;
}

.small {
    padding: 10px .5em;
}

.shown {
    display: initial;
}

#motd {
    transition-duration: 250ms;
}

#displaying {
    width: initial;
    height: initial;
    max-height: 95vh;
    aspect-ratio: initial;
}

#title {
    transition: all 150ms;
}